mixin formInput(label, type, id, value, required)
    .group
        label.form__label(for=`${id}`) #{label}:
        input.form__input(id=`${id}`, value=`${type == 'number' ? value : ''}`, name=`${id}`, 
            placeholder=`${type == 'text' ? value : ''}` type=`${type}`, required=`${required}`)

mixin addOption(name)
    option(value=`${name}`) #{name}

mixin formSelect(label, id, required, options, dataId)
    label.form__label(for=`${id}`) #{label}:
    select.form__input(id=`${id}`, value=`${id}` name=`${id}` type=`${type}` required=`${required}`)
        each option in options 
            +addOption(option)


    
    